*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: Arial, sans-serif;
    color: #1d1d1d;
    line-height: 1;
    background-color: #f6f5df;
    color: #3b211b;
    min-height: 100vh;
    
}

.header{
    width: 90%;
    max-width: 1200px;
    margin-left:30px;
    position: relative;
    padding-top: 20px;
    text-align: center;
}


.nav-links{
    display: flex;
    align-items: center;
   gap: 20px;

}
.nav-links a{
color: rgb(15, 47, 59);
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
text-decoration: none;
transition: 0.3s ease;
}

.nav-links a:hover{
    background-color: rgb(255, 251, 240);
    border-radius: 25px;
    padding:5px;
}


header{
    display: flex;
    text-align: left;
   padding: 40px 20px 20px;
       justify-content: space-between;
align-items: center;
   
}
header h1 {
    font-family:"story script", cursive;
    font-size: 55px;
    margin-bottom: 20px;
}

.about-title{
    font-family: "story script", cursive;
    font-size: 35px;
}
.music-box{
    border: 1px solid #edc869;
    border-radius: 20px;
    padding: 30px;
    cursor: pointer;
    min-height: 350px;
    width: 600px;
    position: relative;
    overflow: hidden;
    margin-left: 400px;


}


.music-box::before{
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("images/music.jpg");
    background-size: cover;
    background-position: center;
   opacity: 0.45;
    transform: scale(1.05);
    z-index: 0;
}


.music-box summary{
    text-align: center;
    list-style: none;

}
.music-box summary::-webkit-details-marker{
    display:none;

}

.music-short-description{
    margin-top: 15px;
    font-size: 20px;
    position: relative;
    z-index: 1;
    font-family: cursive;
}

.music-content{
    margin-top: 40px;
    z-index: 1;
    position: relative;

}
.music-list{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 30px;
}


.section-title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 55px;
    color: #3b211b;
    padding-top: 20px;
    margin-top:55px; ;

}

.song-item{
    position: relative;
    margin-bottom: 15px;
    width: fit-content;

}

.song-title{
    display: inline-block;
    font-size: 20px;
    font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    transition: color 0.3s ease, transform 0.3s ease;
}
.song-poster{
    position: absolute;
    left: 120px;
    top: -80px;
    width: 250px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform:scale(0.6);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 10;


}
.song-item:hover .song-poster{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.mini-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    
}

.subsection-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.favorite-song-description{
    font-family: cursive;
}

.audio-player{
    width:350px;
    margin-top: 15px;
    padding: 6px;
    border: 5px solid brown;
   border-radius: 40px;
 
}
.art-preview{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border:3px brown;
}







.movie-section{
    padding:80px;

}


.movies-header{
    text-align:center;
    max-width: 850px;
    margin:0 auto 70px;
}
.movies-header p{
    font-family: cursive;
    font-size: 20px;
}
.movies-title{
    font-size:60px;
    margin-bottom: 20px;
    font-weight:600;
    font-family: 'Times New Roman', Times, serif;
    color: #3b211b;


}


.movies-introduction{
    font-family: cursive;
    font-size: 18px;
    color: #3b211b;
  
}
.movies-subtitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: left;
    margin-bottom: 20px;
}
.why-i-love-movies{
    max-width: 550px;
    margin: 0 auto 80px;
    
}
.why-i-love-movies p{
    font-family: cursive;
    font-size: 17px;
    color: #1d1d1d;
}

.movie-collective{
    display:flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding:20px 10px 30px;
    scroll-behavior: smooth;
}

.movie-poster{
    width: 150px;;
    height:200px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.movie-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    padding-top: 25px;
    margin-top: 45px;


}
.movie-feeling{
    font-family: cursive;
    font-weight: 50;
    font-size: 13px;
    color: #1d1d1d;
    margin-top: 8px;


}


.movies-message {
    max-width: 700px;
    margin: 70px auto 0;
    padding: 15px;
    background-color:#57504e;
    border: #3b211b;
    border-radius: 15px;
    text-align: center;
      color: #c5c5c5;
     ;
}

.movies-message-text {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 0 10px;
    color: #c5c5c5;
    padding-top: 20px;
    padding-left:25px;
    
}

.movies-quote {
    font-size: 14px;
    line-height: 1.7;
   color: #c5c5c5;
     font-weight: 300px
    margin: 0;
    padding-bottom: 20px;
    padding-left: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.movie-box{
  border: 1px solid;
    border-radius: 20px;
    padding: 30px 60px;
    cursor: pointer;
    min-height: 350px;
   width: 600px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 320px;
    box-sizing: border-box;
   
}
.movie-box::before{
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("images/movies.jpg");
    background-size: cover;
    background-position: center;
   opacity: 0.55;
    transform: scale(1.05);
    z-index: 0;
}


.movie-box> *{
position: relative;
z-index: 1;
}


.movie-box.movie-favorite{
    position:relative;
   
}
.favorite-movies{
    max-width: 1000px;
    margin: 0 auto;

}
.movie-cards{
    flex: 0 0 150px;
    text-align: center;
}


.movie-cards .movie-title{
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    color: #1d1d1d;
    margin-top: 15px;

}