*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    font-family: Arial, sans-serif;
    color: #1d1d1d;
    line-height: 1;
    background-color: #f6f5df;
    color: #3b211b;
    min-height: 100vh;
    
}

.header{
    width: 90%;
    max-width: 1200px;
    margin-left:30px;
    position: relative;
    padding-top: 20px;
    text-align: center;

 
}


.title{
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    padding-top: 60px;
    margin-top: 30px;
    margin-left: auto;
    text-align: center;
    animation: titleAppear 3s ease;
}


.nav-links{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 15px;
   gap: 20px;
    justify-content:flex-end;
   margin-right:1px;
   margin-top: 30px;
   top: 0;
right: 0;




}
.nav-links a{
color: rgb(15, 47, 59);
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
text-decoration: none;
transition: 0.3s ease;
}
.nav-links a:hover{
    background-color: aliceblue;
    border-radius: 2px;
    padding:5px;
}

.favorites-section{
    width: 100%;
   margin-top: 10px;
   margin-bottom: 100px;
   position: relative;
   overflow: hidden;
   

    
}


.card-container{
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(5,1fr);
    position: relative;
    z-index: 2;
    gap: 25px;
    padding: 0 20px;
    

}


.card{
   
    height: 500px;
    
}
.card-image{
   
    height: 250px;
    width: 100%;
    border:0.1mm solid #3b211b;
    border-radius:20px;
    overflow: hidden;
    position: relative;
    


}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.card:nth-child(1) .card-image{
    border-top-left-radius: 80px;
   
}
.card:nth-child(5) .card-image{
    border-top-right-radius: 80px;
}

.herop1{
    position: absolute;
    left: 0%;
    top: 35px;
    text-align: left;
    font-size: 15px;
    font-family: cursive;
   color: rgb(15, 47, 59);
   

}
.hero-description{
    width: 800px;
    max-width: 90%;
    font-size: 18px;
    font-family:"story script", cursive;
    text-align:center;
    margin-left: auto;

}
.hero-section{
    width: 90%;
    max-width: 1100px;
    
    padding: 0px 40px;
    text-align: center;
    position: relative;
}





.heroh3{
    padding-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0 20px;
}

.section2-description{
    font-family: cursive;
    font-size: 17px;
    margin-bottom: 15px;
    padding: 0 20px;
}

.card-content h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}
.card-content p{
    font-family: cursive;
    font-size: 15px;
}
@media screen and (max-width: 800px) {

 
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

}

@media screen and (max-width: 600px) {

 
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

}


@keyframes titleAppear {
    from{
        opacity:0;
          transform :translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}